bin
tmp
build
.vscode
.idea
oc_index.egg-info
.DS_Store

# Reference: 
# https://github.com/github/gitignore

################################################
#          VisualStudioCode.gitignore          #
################################################

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
.coverage
.gitignore
cmake_install.cmake
CMakeCache.txt
compile_commands.json
config.h
config.ini
CTestTestfile.cmake
GraphEnricher_cache.sqlite
install_manifest.txt
libzip-config-version.cmake
libzip-config.cmake
libzip-targets.cmake
libzip.pc
Makefile
pop_cache.sqlite
rules.log
zipconf.h
CMakeFiles/cmake.check_cache
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/CMakeError.log
CMakeFiles/CMakeOutput.log
CMakeFiles/CMakeRuleHashes.txt
CMakeFiles/Makefile.cmake
CMakeFiles/Makefile2
CMakeFiles/nihtest.conf
CMakeFiles/progress.marks
CMakeFiles/runtest
CMakeFiles/TargetDirectories.txt
CMakeFiles/TestEndianess.bin
CMakeFiles/3.16.3/CMakeCCompiler.cmake
CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.16.3/CMakeSystem.cmake
CMakeFiles/3.16.3/CompilerIdC/a.out
CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/CheckIncludeFiles/COMMONCRYPTO_FOUND.c
CMakeFiles/CheckIncludeFiles/HAVE_FTS_H.c
CMakeFiles/CheckIncludeFiles/HAVE_INTTYPES_H_LIBZIP.c
CMakeFiles/CheckIncludeFiles/HAVE_STDBOOL_H.c
CMakeFiles/CheckIncludeFiles/HAVE_STDINT_H_LIBZIP.c
CMakeFiles/CheckIncludeFiles/HAVE_STRINGS_H.c
CMakeFiles/CheckIncludeFiles/HAVE_SYS_TYPES_H_LIBZIP.c
CMakeFiles/CheckIncludeFiles/HAVE_UNISTD_H.c
CMakeFiles/CheckTypeSize/__INT8_LIBZIP.c
CMakeFiles/CheckTypeSize/__INT16_LIBZIP.c
CMakeFiles/CheckTypeSize/__INT32_LIBZIP.c
CMakeFiles/CheckTypeSize/__INT64_LIBZIP.c
CMakeFiles/CheckTypeSize/CMAKE_SIZEOF_UNSIGNED_SHORT.bin
CMakeFiles/CheckTypeSize/CMAKE_SIZEOF_UNSIGNED_SHORT.c
CMakeFiles/CheckTypeSize/INT_LIBZIP.bin
CMakeFiles/CheckTypeSize/INT_LIBZIP.c
CMakeFiles/CheckTypeSize/INT8_T_LIBZIP.bin
CMakeFiles/CheckTypeSize/INT8_T_LIBZIP.c
CMakeFiles/CheckTypeSize/INT16_T_LIBZIP.bin
CMakeFiles/CheckTypeSize/INT16_T_LIBZIP.c
CMakeFiles/CheckTypeSize/INT32_T_LIBZIP.bin
CMakeFiles/CheckTypeSize/INT32_T_LIBZIP.c
CMakeFiles/CheckTypeSize/INT64_T_LIBZIP.bin
CMakeFiles/CheckTypeSize/INT64_T_LIBZIP.c
CMakeFiles/CheckTypeSize/LONG_LIBZIP.bin
CMakeFiles/CheckTypeSize/LONG_LIBZIP.c
CMakeFiles/CheckTypeSize/LONG_LONG_LIBZIP.bin
CMakeFiles/CheckTypeSize/LONG_LONG_LIBZIP.c
CMakeFiles/CheckTypeSize/SHORT_LIBZIP.bin
CMakeFiles/CheckTypeSize/SHORT_LIBZIP.c
CMakeFiles/CheckTypeSize/SIZEOF_OFF_T.bin
CMakeFiles/CheckTypeSize/SIZEOF_OFF_T.c
CMakeFiles/CheckTypeSize/SIZEOF_SIZE_T.bin
CMakeFiles/CheckTypeSize/SIZEOF_SIZE_T.c
CMakeFiles/CheckTypeSize/UINT8_T_LIBZIP.bin
CMakeFiles/CheckTypeSize/UINT8_T_LIBZIP.c
CMakeFiles/CheckTypeSize/UINT16_T_LIBZIP.bin
CMakeFiles/CheckTypeSize/UINT16_T_LIBZIP.c
CMakeFiles/CheckTypeSize/UINT32_T_LIBZIP.bin
CMakeFiles/CheckTypeSize/UINT32_T_LIBZIP.c
CMakeFiles/CheckTypeSize/UINT64_T_LIBZIP.bin
CMakeFiles/CheckTypeSize/UINT64_T_LIBZIP.c
CMakeFiles/dist.dir/build.make
CMakeFiles/dist.dir/cmake_clean.cmake
CMakeFiles/dist.dir/DependInfo.cmake
CMakeFiles/dist.dir/progress.make
CMakeFiles/distcheck.dir/build.make
CMakeFiles/distcheck.dir/cmake_clean.cmake
CMakeFiles/distcheck.dir/DependInfo.cmake
CMakeFiles/distcheck.dir/progress.make
CMakeFiles/Export/lib/cmake/libzip/libzip-targets-noconfig.cmake
CMakeFiles/Export/lib/cmake/libzip/libzip-targets.cmake
examples/cmake_install.cmake
examples/CTestTestfile.cmake
examples/in-memory
examples/Makefile
examples/CMakeFiles/CMakeDirectoryInformation.cmake
examples/CMakeFiles/progress.marks
examples/CMakeFiles/in-memory.dir/build.make
examples/CMakeFiles/in-memory.dir/C.includecache
examples/CMakeFiles/in-memory.dir/cmake_clean.cmake
examples/CMakeFiles/in-memory.dir/depend.internal
examples/CMakeFiles/in-memory.dir/depend.make
examples/CMakeFiles/in-memory.dir/DependInfo.cmake
examples/CMakeFiles/in-memory.dir/flags.make
examples/CMakeFiles/in-memory.dir/in-memory.c.o
examples/CMakeFiles/in-memory.dir/link.txt
examples/CMakeFiles/in-memory.dir/progress.make
index/.coverage
index/python/src/legacy/csv.py
invalid_doi/data.csv
lib/cmake_install.cmake
lib/CTestTestfile.cmake
lib/libzip.so
lib/libzip.so.5
lib/libzip.so.5.5
lib/Makefile
lib/zip_err_str.c
lib/CMakeFiles/CMakeDirectoryInformation.cmake
lib/CMakeFiles/progress.marks
lib/CMakeFiles/zip.dir/build.make
lib/CMakeFiles/zip.dir/C.includecache
lib/CMakeFiles/zip.dir/cmake_clean.cmake
lib/CMakeFiles/zip.dir/depend.internal
lib/CMakeFiles/zip.dir/depend.make
lib/CMakeFiles/zip.dir/DependInfo.cmake
lib/CMakeFiles/zip.dir/flags.make
lib/CMakeFiles/zip.dir/link.txt
lib/CMakeFiles/zip.dir/progress.make
lib/CMakeFiles/zip.dir/zip_add_dir.c.o
lib/CMakeFiles/zip.dir/zip_add_entry.c.o
lib/CMakeFiles/zip.dir/zip_add.c.o
lib/CMakeFiles/zip.dir/zip_algorithm_deflate.c.o
lib/CMakeFiles/zip.dir/zip_buffer.c.o
lib/CMakeFiles/zip.dir/zip_close.c.o
lib/CMakeFiles/zip.dir/zip_delete.c.o
lib/CMakeFiles/zip.dir/zip_dir_add.c.o
lib/CMakeFiles/zip.dir/zip_dirent.c.o
lib/CMakeFiles/zip.dir/zip_discard.c.o
lib/CMakeFiles/zip.dir/zip_entry.c.o
lib/CMakeFiles/zip.dir/zip_err_str.c.o
lib/CMakeFiles/zip.dir/zip_error_clear.c.o
lib/CMakeFiles/zip.dir/zip_error_get_sys_type.c.o
lib/CMakeFiles/zip.dir/zip_error_get.c.o
lib/CMakeFiles/zip.dir/zip_error_strerror.c.o
lib/CMakeFiles/zip.dir/zip_error_to_str.c.o
lib/CMakeFiles/zip.dir/zip_error.c.o
lib/CMakeFiles/zip.dir/zip_extra_field_api.c.o
lib/CMakeFiles/zip.dir/zip_extra_field.c.o
lib/CMakeFiles/zip.dir/zip_fclose.c.o
lib/CMakeFiles/zip.dir/zip_fdopen.c.o
lib/CMakeFiles/zip.dir/zip_file_add.c.o
lib/CMakeFiles/zip.dir/zip_file_error_clear.c.o
lib/CMakeFiles/zip.dir/zip_file_error_get.c.o
lib/CMakeFiles/zip.dir/zip_file_get_comment.c.o
lib/CMakeFiles/zip.dir/zip_file_get_external_attributes.c.o
lib/CMakeFiles/zip.dir/zip_file_get_offset.c.o
lib/CMakeFiles/zip.dir/zip_file_rename.c.o
lib/CMakeFiles/zip.dir/zip_file_replace.c.o
lib/CMakeFiles/zip.dir/zip_file_set_comment.c.o
lib/CMakeFiles/zip.dir/zip_file_set_encryption.c.o
lib/CMakeFiles/zip.dir/zip_file_set_external_attributes.c.o
lib/CMakeFiles/zip.dir/zip_file_set_mtime.c.o
lib/CMakeFiles/zip.dir/zip_file_strerror.c.o
lib/CMakeFiles/zip.dir/zip_fopen_encrypted.c.o
lib/CMakeFiles/zip.dir/zip_fopen_index_encrypted.c.o
lib/CMakeFiles/zip.dir/zip_fopen_index.c.o
lib/CMakeFiles/zip.dir/zip_fopen.c.o
lib/CMakeFiles/zip.dir/zip_fread.c.o
lib/CMakeFiles/zip.dir/zip_fseek.c.o
lib/CMakeFiles/zip.dir/zip_ftell.c.o
lib/CMakeFiles/zip.dir/zip_get_archive_comment.c.o
lib/CMakeFiles/zip.dir/zip_get_archive_flag.c.o
lib/CMakeFiles/zip.dir/zip_get_encryption_implementation.c.o
lib/CMakeFiles/zip.dir/zip_get_file_comment.c.o
lib/CMakeFiles/zip.dir/zip_get_name.c.o
lib/CMakeFiles/zip.dir/zip_get_num_entries.c.o
lib/CMakeFiles/zip.dir/zip_get_num_files.c.o
lib/CMakeFiles/zip.dir/zip_hash.c.o
lib/CMakeFiles/zip.dir/zip_io_util.c.o
lib/CMakeFiles/zip.dir/zip_libzip_version.c.o
lib/CMakeFiles/zip.dir/zip_memdup.c.o
lib/CMakeFiles/zip.dir/zip_name_locate.c.o
lib/CMakeFiles/zip.dir/zip_new.c.o
lib/CMakeFiles/zip.dir/zip_open.c.o
lib/CMakeFiles/zip.dir/zip_pkware.c.o
lib/CMakeFiles/zip.dir/zip_progress.c.o
lib/CMakeFiles/zip.dir/zip_random_unix.c.o
lib/CMakeFiles/zip.dir/zip_rename.c.o
lib/CMakeFiles/zip.dir/zip_replace.c.o
lib/CMakeFiles/zip.dir/zip_set_archive_comment.c.o
lib/CMakeFiles/zip.dir/zip_set_archive_flag.c.o
lib/CMakeFiles/zip.dir/zip_set_default_password.c.o
lib/CMakeFiles/zip.dir/zip_set_file_comment.c.o
lib/CMakeFiles/zip.dir/zip_set_file_compression.c.o
lib/CMakeFiles/zip.dir/zip_set_name.c.o
lib/CMakeFiles/zip.dir/zip_source_accept_empty.c.o
lib/CMakeFiles/zip.dir/zip_source_begin_write_cloning.c.o
lib/CMakeFiles/zip.dir/zip_source_begin_write.c.o
lib/CMakeFiles/zip.dir/zip_source_buffer.c.o
lib/CMakeFiles/zip.dir/zip_source_call.c.o
lib/CMakeFiles/zip.dir/zip_source_close.c.o
lib/CMakeFiles/zip.dir/zip_source_commit_write.c.o
lib/CMakeFiles/zip.dir/zip_source_compress.c.o
lib/CMakeFiles/zip.dir/zip_source_crc.c.o
lib/CMakeFiles/zip.dir/zip_source_error.c.o
lib/CMakeFiles/zip.dir/zip_source_file_common.c.o
lib/CMakeFiles/zip.dir/zip_source_file_stdio_named.c.o
lib/CMakeFiles/zip.dir/zip_source_file_stdio.c.o
lib/CMakeFiles/zip.dir/zip_source_free.c.o
lib/CMakeFiles/zip.dir/zip_source_function.c.o
lib/CMakeFiles/zip.dir/zip_source_get_file_attributes.c.o
lib/CMakeFiles/zip.dir/zip_source_is_deleted.c.o
lib/CMakeFiles/zip.dir/zip_source_layered.c.o
lib/CMakeFiles/zip.dir/zip_source_open.c.o
lib/CMakeFiles/zip.dir/zip_source_pkware_decode.c.o
lib/CMakeFiles/zip.dir/zip_source_pkware_encode.c.o
lib/CMakeFiles/zip.dir/zip_source_read.c.o
lib/CMakeFiles/zip.dir/zip_source_remove.c.o
lib/CMakeFiles/zip.dir/zip_source_rollback_write.c.o
lib/CMakeFiles/zip.dir/zip_source_seek_write.c.o
lib/CMakeFiles/zip.dir/zip_source_seek.c.o
lib/CMakeFiles/zip.dir/zip_source_stat.c.o
lib/CMakeFiles/zip.dir/zip_source_supports.c.o
lib/CMakeFiles/zip.dir/zip_source_tell_write.c.o
lib/CMakeFiles/zip.dir/zip_source_tell.c.o
lib/CMakeFiles/zip.dir/zip_source_window.c.o
lib/CMakeFiles/zip.dir/zip_source_write.c.o
lib/CMakeFiles/zip.dir/zip_source_zip_new.c.o
lib/CMakeFiles/zip.dir/zip_source_zip.c.o
lib/CMakeFiles/zip.dir/zip_stat_index.c.o
lib/CMakeFiles/zip.dir/zip_stat_init.c.o
lib/CMakeFiles/zip.dir/zip_stat.c.o
lib/CMakeFiles/zip.dir/zip_strerror.c.o
lib/CMakeFiles/zip.dir/zip_string.c.o
lib/CMakeFiles/zip.dir/zip_unchange_all.c.o
lib/CMakeFiles/zip.dir/zip_unchange_archive.c.o
lib/CMakeFiles/zip.dir/zip_unchange_data.c.o
lib/CMakeFiles/zip.dir/zip_unchange.c.o
lib/CMakeFiles/zip.dir/zip_utf-8.c.o
man/cmake_install.cmake
man/CTestTestfile.cmake
man/libzip.3
man/Makefile
man/zip_add_dir.3
man/zip_add.3
man/zip_close.3
man/zip_compression_method_supported.3
man/zip_delete.3
man/zip_dir_add.3
man/zip_discard.3
man/zip_encryption_method_supported.3
man/zip_error_clear.3
man/zip_error_code_system.3
man/zip_error_code_zip.3
man/zip_error_fini.3
man/zip_error_get_sys_type.3
man/zip_error_get.3
man/zip_error_init.3
man/zip_error_set.3
man/zip_error_strerror.3
man/zip_error_system_type.3
man/zip_error_to_data.3
man/zip_error_to_str.3
man/zip_errors.3
man/zip_fclose.3
man/zip_fdopen.3
man/zip_file_add.3
man/zip_file_attributes_init.3
man/zip_file_extra_field_delete.3
man/zip_file_extra_field_get.3
man/zip_file_extra_field_set.3
man/zip_file_extra_fields_count.3
man/zip_file_get_comment.3
man/zip_file_get_error.3
man/zip_file_get_external_attributes.3
man/zip_file_rename.3
man/zip_file_set_comment.3
man/zip_file_set_encryption.3
man/zip_file_set_external_attributes.3
man/zip_file_set_mtime.3
man/zip_file_strerror.3
man/zip_fopen_encrypted.3
man/zip_fopen.3
man/zip_fread.3
man/zip_fseek.3
man/zip_ftell.3
man/zip_get_archive_comment.3
man/zip_get_archive_flag.3
man/zip_get_error.3
man/zip_get_file_comment.3
man/zip_get_name.3
man/zip_get_num_entries.3
man/zip_get_num_files.3
man/zip_libzip_version.3
man/zip_name_locate.3
man/zip_open.3
man/zip_register_cancel_callback_with_state.3
man/zip_register_progress_callback_with_state.3
man/zip_register_progress_callback.3
man/zip_rename.3
man/zip_set_archive_comment.3
man/zip_set_archive_flag.3
man/zip_set_default_password.3
man/zip_set_file_comment.3
man/zip_set_file_compression.3
man/zip_source_begin_write.3
man/zip_source_buffer_fragment.3
man/zip_source_buffer.3
man/zip_source_close.3
man/zip_source_commit_write.3
man/zip_source_error.3
man/zip_source_file.3
man/zip_source_filep.3
man/zip_source_free.3
man/zip_source_function.3
man/ZIP_SOURCE_GET_ARGS.3
man/zip_source_is_deleted.3
man/zip_source_keep.3
man/zip_source_make_command_bitmap.3
man/zip_source_open.3
man/zip_source_read.3
man/zip_source_rollback_write.3
man/zip_source_seek_compute_offset.3
man/zip_source_seek_write.3
man/zip_source_seek.3
man/zip_source_stat.3
man/zip_source_tell_write.3
man/zip_source_tell.3
man/zip_source_win32a.3
man/zip_source_win32handle.3
man/zip_source_win32w.3
man/zip_source_window.3
man/zip_source_write.3
man/zip_source_zip.3
man/zip_source.3
man/zip_stat_init.3
man/zip_stat.3
man/zip_unchange_all.3
man/zip_unchange_archive.3
man/zip_unchange.3
man/zipcmp.1
man/zipmerge.1
man/ziptool.1
man/CMakeFiles/CMakeDirectoryInformation.cmake
man/CMakeFiles/progress.marks
man/CMakeFiles/man.dir/build.make
man/CMakeFiles/man.dir/cmake_clean.cmake
man/CMakeFiles/man.dir/depend.internal
man/CMakeFiles/man.dir/depend.make
man/CMakeFiles/man.dir/DependInfo.cmake
man/CMakeFiles/man.dir/progress.make
man/CMakeFiles/update-html.dir/build.make
man/CMakeFiles/update-html.dir/cmake_clean.cmake
man/CMakeFiles/update-html.dir/DependInfo.cmake
man/CMakeFiles/update-html.dir/progress.make
man/CMakeFiles/update-man.dir/build.make
man/CMakeFiles/update-man.dir/cmake_clean.cmake
man/CMakeFiles/update-man.dir/DependInfo.cmake
man/CMakeFiles/update-man.dir/progress.make
man/CMakeFiles/update_zip_errors.dir/build.make
man/CMakeFiles/update_zip_errors.dir/cmake_clean.cmake
man/CMakeFiles/update_zip_errors.dir/DependInfo.cmake
man/CMakeFiles/update_zip_errors.dir/progress.make
mockup_data/to_test.csv
regress/add_from_filep
regress/bigzero.zip
regress/can_clone_file
regress/cmake_install.cmake
regress/CTestTestfile.cmake
regress/fopen_unchanged
regress/fread
regress/fseek
regress/fuzz_main
regress/hole
regress/libliboverride.so
regress/libnonrandomopen.so
regress/liboverride-test
regress/Makefile
regress/manyfiles-65536.zip
regress/manyfiles-133000.zip
regress/manyfiles-fewer.zip
regress/manyfiles-more.zip
regress/manyfiles-zip64-modulo.zip
regress/manyfiles-zip64.zip
regress/manyfiles.zip
regress/nihtest.conf
regress/nonrandomopentest
regress/runtest
regress/tryopen
regress/ziptool_regress
regress/CMakeFiles/CMakeDirectoryInformation.cmake
regress/CMakeFiles/progress.marks
regress/CMakeFiles/add_from_filep.dir/add_from_filep.c.o
regress/CMakeFiles/add_from_filep.dir/build.make
regress/CMakeFiles/add_from_filep.dir/C.includecache
regress/CMakeFiles/add_from_filep.dir/cmake_clean.cmake
regress/CMakeFiles/add_from_filep.dir/depend.internal
regress/CMakeFiles/add_from_filep.dir/depend.make
regress/CMakeFiles/add_from_filep.dir/DependInfo.cmake
regress/CMakeFiles/add_from_filep.dir/flags.make
regress/CMakeFiles/add_from_filep.dir/link.txt
regress/CMakeFiles/add_from_filep.dir/progress.make
regress/CMakeFiles/can_clone_file.dir/build.make
regress/CMakeFiles/can_clone_file.dir/C.includecache
regress/CMakeFiles/can_clone_file.dir/can_clone_file.c.o
regress/CMakeFiles/can_clone_file.dir/cmake_clean.cmake
regress/CMakeFiles/can_clone_file.dir/depend.internal
regress/CMakeFiles/can_clone_file.dir/depend.make
regress/CMakeFiles/can_clone_file.dir/DependInfo.cmake
regress/CMakeFiles/can_clone_file.dir/flags.make
regress/CMakeFiles/can_clone_file.dir/link.txt
regress/CMakeFiles/can_clone_file.dir/progress.make
regress/CMakeFiles/check.dir/build.make
regress/CMakeFiles/check.dir/cmake_clean.cmake
regress/CMakeFiles/check.dir/DependInfo.cmake
regress/CMakeFiles/check.dir/progress.make
regress/CMakeFiles/cleanup.dir/build.make
regress/CMakeFiles/cleanup.dir/cmake_clean.cmake
regress/CMakeFiles/cleanup.dir/DependInfo.cmake
regress/CMakeFiles/cleanup.dir/progress.make
regress/CMakeFiles/fopen_unchanged.dir/build.make
regress/CMakeFiles/fopen_unchanged.dir/C.includecache
regress/CMakeFiles/fopen_unchanged.dir/cmake_clean.cmake
regress/CMakeFiles/fopen_unchanged.dir/depend.internal
regress/CMakeFiles/fopen_unchanged.dir/depend.make
regress/CMakeFiles/fopen_unchanged.dir/DependInfo.cmake
regress/CMakeFiles/fopen_unchanged.dir/flags.make
regress/CMakeFiles/fopen_unchanged.dir/fopen_unchanged.c.o
regress/CMakeFiles/fopen_unchanged.dir/link.txt
regress/CMakeFiles/fopen_unchanged.dir/progress.make
regress/CMakeFiles/fread.dir/build.make
regress/CMakeFiles/fread.dir/C.includecache
regress/CMakeFiles/fread.dir/cmake_clean.cmake
regress/CMakeFiles/fread.dir/depend.internal
regress/CMakeFiles/fread.dir/depend.make
regress/CMakeFiles/fread.dir/DependInfo.cmake
regress/CMakeFiles/fread.dir/flags.make
regress/CMakeFiles/fread.dir/fread.c.o
regress/CMakeFiles/fread.dir/link.txt
regress/CMakeFiles/fread.dir/progress.make
regress/CMakeFiles/fseek.dir/build.make
regress/CMakeFiles/fseek.dir/C.includecache
regress/CMakeFiles/fseek.dir/cmake_clean.cmake
regress/CMakeFiles/fseek.dir/depend.internal
regress/CMakeFiles/fseek.dir/depend.make
regress/CMakeFiles/fseek.dir/DependInfo.cmake
regress/CMakeFiles/fseek.dir/flags.make
regress/CMakeFiles/fseek.dir/fseek.c.o
regress/CMakeFiles/fseek.dir/link.txt
regress/CMakeFiles/fseek.dir/progress.make
regress/CMakeFiles/fuzz_main.dir/build.make
regress/CMakeFiles/fuzz_main.dir/C.includecache
regress/CMakeFiles/fuzz_main.dir/cmake_clean.cmake
regress/CMakeFiles/fuzz_main.dir/depend.internal
regress/CMakeFiles/fuzz_main.dir/depend.make
regress/CMakeFiles/fuzz_main.dir/DependInfo.cmake
regress/CMakeFiles/fuzz_main.dir/flags.make
regress/CMakeFiles/fuzz_main.dir/fuzz_main.c.o
regress/CMakeFiles/fuzz_main.dir/link.txt
regress/CMakeFiles/fuzz_main.dir/progress.make
regress/CMakeFiles/hole.dir/build.make
regress/CMakeFiles/hole.dir/C.includecache
regress/CMakeFiles/hole.dir/cmake_clean.cmake
regress/CMakeFiles/hole.dir/depend.internal
regress/CMakeFiles/hole.dir/depend.make
regress/CMakeFiles/hole.dir/DependInfo.cmake
regress/CMakeFiles/hole.dir/flags.make
regress/CMakeFiles/hole.dir/hole.c.o
regress/CMakeFiles/hole.dir/link.txt
regress/CMakeFiles/hole.dir/progress.make
regress/CMakeFiles/hole.dir/source_hole.c.o
regress/CMakeFiles/liboverride-test.dir/build.make
regress/CMakeFiles/liboverride-test.dir/C.includecache
regress/CMakeFiles/liboverride-test.dir/cmake_clean.cmake
regress/CMakeFiles/liboverride-test.dir/depend.internal
regress/CMakeFiles/liboverride-test.dir/depend.make
regress/CMakeFiles/liboverride-test.dir/DependInfo.cmake
regress/CMakeFiles/liboverride-test.dir/flags.make
regress/CMakeFiles/liboverride-test.dir/liboverride-test.c.o
regress/CMakeFiles/liboverride-test.dir/link.txt
regress/CMakeFiles/liboverride-test.dir/progress.make
regress/CMakeFiles/liboverride.dir/build.make
regress/CMakeFiles/liboverride.dir/C.includecache
regress/CMakeFiles/liboverride.dir/cmake_clean.cmake
regress/CMakeFiles/liboverride.dir/depend.internal
regress/CMakeFiles/liboverride.dir/depend.make
regress/CMakeFiles/liboverride.dir/DependInfo.cmake
regress/CMakeFiles/liboverride.dir/flags.make
regress/CMakeFiles/liboverride.dir/liboverride.c.o
regress/CMakeFiles/liboverride.dir/link.txt
regress/CMakeFiles/liboverride.dir/progress.make
regress/CMakeFiles/nonrandomopen.dir/build.make
regress/CMakeFiles/nonrandomopen.dir/C.includecache
regress/CMakeFiles/nonrandomopen.dir/cmake_clean.cmake
regress/CMakeFiles/nonrandomopen.dir/depend.internal
regress/CMakeFiles/nonrandomopen.dir/depend.make
regress/CMakeFiles/nonrandomopen.dir/DependInfo.cmake
regress/CMakeFiles/nonrandomopen.dir/flags.make
regress/CMakeFiles/nonrandomopen.dir/link.txt
regress/CMakeFiles/nonrandomopen.dir/nonrandomopen.c.o
regress/CMakeFiles/nonrandomopen.dir/progress.make
regress/CMakeFiles/nonrandomopentest.dir/build.make
regress/CMakeFiles/nonrandomopentest.dir/C.includecache
regress/CMakeFiles/nonrandomopentest.dir/cmake_clean.cmake
regress/CMakeFiles/nonrandomopentest.dir/depend.internal
regress/CMakeFiles/nonrandomopentest.dir/depend.make
regress/CMakeFiles/nonrandomopentest.dir/DependInfo.cmake
regress/CMakeFiles/nonrandomopentest.dir/flags.make
regress/CMakeFiles/nonrandomopentest.dir/link.txt
regress/CMakeFiles/nonrandomopentest.dir/nonrandomopentest.c.o
regress/CMakeFiles/nonrandomopentest.dir/progress.make
regress/CMakeFiles/testinput.dir/build.make
regress/CMakeFiles/testinput.dir/cmake_clean.cmake
regress/CMakeFiles/testinput.dir/depend.internal
regress/CMakeFiles/testinput.dir/depend.make
regress/CMakeFiles/testinput.dir/DependInfo.cmake
regress/CMakeFiles/testinput.dir/progress.make
regress/CMakeFiles/tryopen.dir/build.make
regress/CMakeFiles/tryopen.dir/C.includecache
regress/CMakeFiles/tryopen.dir/cmake_clean.cmake
regress/CMakeFiles/tryopen.dir/depend.internal
regress/CMakeFiles/tryopen.dir/depend.make
regress/CMakeFiles/tryopen.dir/DependInfo.cmake
regress/CMakeFiles/tryopen.dir/flags.make
regress/CMakeFiles/tryopen.dir/link.txt
regress/CMakeFiles/tryopen.dir/progress.make
regress/CMakeFiles/tryopen.dir/tryopen.c.o
regress/CMakeFiles/ziptool_regress.dir/build.make
regress/CMakeFiles/ziptool_regress.dir/C.includecache
regress/CMakeFiles/ziptool_regress.dir/cmake_clean.cmake
regress/CMakeFiles/ziptool_regress.dir/depend.internal
regress/CMakeFiles/ziptool_regress.dir/depend.make
regress/CMakeFiles/ziptool_regress.dir/DependInfo.cmake
regress/CMakeFiles/ziptool_regress.dir/flags.make
regress/CMakeFiles/ziptool_regress.dir/link.txt
regress/CMakeFiles/ziptool_regress.dir/progress.make
regress/CMakeFiles/ziptool_regress.dir/source_hole.c.o
regress/CMakeFiles/ziptool_regress.dir/ziptool_regress.c.o
scripts/cnc.py
scripts/__pycache__/__init__.cpython-310.pyc
scripts/__pycache__/cnc.cpython-310.pyc
src/cmake_install.cmake
src/CTestTestfile.cmake
src/Makefile
src/zipcmp
src/zipmerge
src/ziptool
src/CMakeFiles/CMakeDirectoryInformation.cmake
src/CMakeFiles/progress.marks
src/CMakeFiles/zipcmp.dir/build.make
src/CMakeFiles/zipcmp.dir/C.includecache
src/CMakeFiles/zipcmp.dir/cmake_clean.cmake
src/CMakeFiles/zipcmp.dir/depend.internal
src/CMakeFiles/zipcmp.dir/depend.make
src/CMakeFiles/zipcmp.dir/DependInfo.cmake
src/CMakeFiles/zipcmp.dir/diff_output.c.o
src/CMakeFiles/zipcmp.dir/flags.make
src/CMakeFiles/zipcmp.dir/link.txt
src/CMakeFiles/zipcmp.dir/progress.make
src/CMakeFiles/zipcmp.dir/zipcmp.c.o
src/CMakeFiles/zipmerge.dir/build.make
src/CMakeFiles/zipmerge.dir/C.includecache
src/CMakeFiles/zipmerge.dir/cmake_clean.cmake
src/CMakeFiles/zipmerge.dir/depend.internal
src/CMakeFiles/zipmerge.dir/depend.make
src/CMakeFiles/zipmerge.dir/DependInfo.cmake
src/CMakeFiles/zipmerge.dir/flags.make
src/CMakeFiles/zipmerge.dir/link.txt
src/CMakeFiles/zipmerge.dir/progress.make
src/CMakeFiles/zipmerge.dir/zipmerge.c.o
src/CMakeFiles/ziptool.dir/build.make
src/CMakeFiles/ziptool.dir/C.includecache
src/CMakeFiles/ziptool.dir/cmake_clean.cmake
src/CMakeFiles/ziptool.dir/depend.internal
src/CMakeFiles/ziptool.dir/depend.make
src/CMakeFiles/ziptool.dir/DependInfo.cmake
src/CMakeFiles/ziptool.dir/flags.make
src/CMakeFiles/ziptool.dir/link.txt
src/CMakeFiles/ziptool.dir/progress.make
src/CMakeFiles/ziptool.dir/ziptool.c.o
